<!-- views/partials/header.ejs -->
<meta charset="UTF-8">
<title>Maze Escape</title>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">