<html>
  <head>
    <!-- Stylesheets in here -->
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/help.css">
  </head>
  <body>    
    <main class="container">
        <div class="row title-text">
            <div class="col-lg-12 text-center align-text-bottom">
              <h1>MAZE ESCAPE</h1>
              <h3>Help Menu</h3>
            </div>
        </div>
        <div class="row">
          <div class="offset-lg-3 col-lg-6 text-center help-text">
            <p>Wecome to Maze Escape! The game consists of two players. One "Librarian" and other "Escaper". The goal of the game is for the Librarianto guide the Escaper to the exit of the maze as fast as they can. The Librarian has the view of the top of the maze and can see where the Escaper is at all times. Whereas the Escaper is in the maze and can only see the walls around him. Please note that both positions can be played in VR, however we recommend that you play in VR if you are the Escaper as the Librarian can be played no in VR.</p>
            <p><b>Requirements:</b></p>
            <ul class="text-left">
              <li>A microphone is required for this game. To join a room, you must allow the browser to have access to the microphone</li>
              <li>The game requires a browser that supports WebRTC. If you are playing with a VR headset, you must use a browser that supports the VR headset. Mozilla Firefox is recommended.</li>
            </ul>
            <p><b>To Create a Game:</b></p>
            <ul class="text-left">
              <li>Press "Play" in the landing page</li>
              <li>Press "Create New Lobby"</li>
              <li>Fill in the information required ('Name' and 'Maze' are required, 'Password' is optional)</li>
              <li>Wait for a player to join your game</li>
              <li>Both you and your player must lock in a role</li>
              <li>The game will automatically start</li>
            </ul>
            <p><b>To Join a Game:</b></p>
            <ul class="text-left">
              <li>Press "Play" in the landing page</li>
              <li>Press "Join" on any of the available lobbies</li>
              <li>Lock in a role and wait until the other player does the same</li>
              <li>The game will automatically start</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-offset-6 col-lg-12 text-center">
              <a href="/">
                <button type="button" class="btn btn-primary btn-lg">Return</button>
              </a>
          </div>
        </div>
    </main>

    <footer>
      <!-- Scripts throw in here -->
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
