<html>
  <head>
    <!-- Stylesheets in here -->
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/landing.css">
  </head>
  <body>    
    <main class="container">
        <div class="row landing-title">
            <div class="col-lg-12 text-center align-text-bottom">
              <h1 class="mt-5">MAZE ESCAPE</h1>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-offset-6 col-lg-12 text-center">
            <div>
                <a href="/lobbyList">
                  <button type="button" class="btn btn-lg landing-button">Play!</button>
                </a>
            </div>
            <div>
                <a href="/help">
                  <button type="button" class="btn btn-lg landing-button">Help</button>
                </a>
            </div>
          </div>
        </div>
    </main>

    <footer>
      <!-- Scripts throw in here -->
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
