<html>
  <head>
    <!-- Stylesheets in here -->
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/lobbyList.css">
  </head>
  <body>    
    <main class="container">
        <div class="row title-text">
            <div class="col-lg-12 text-center align-text-bottom">
              <h1>MAZE ESCAPE</h1>
              <h3>Lobby</h3>
            </div>
        </div>
        <div class="row col-lg-10 offset-lg-1">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th class="align-middle">Room Name</th>
                <th class="align-middle">Number of Players</th>
                <th></th>
              </tr>
            </thead>
            <tbody id ="roomTable">
              <!-- <tr id="update-on-refresh-row">
                <td>Gotta love escaping mazes!</td>
                <td>maze_1</td>
                <td>
                  <button type="button" class="btn btn-danger btn-small" disabled>Librarian (1/1)</button>
                  <button id="update-on-refresh-button" type="button" class="btn btn-success btn-small">Explorer (0/1)</button>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
        <div id="successful-alert" class="row hidden-element">
          <div class="alert alert-success offset-lg-4 col-lg-4 text-center">
              Successfully updated the lobby!
          </div>
        </div>
        <div id="warning-alert" class="row hidden-element">
          <div class="alert alert-warning offset-lg-4 col-lg-4 text-center">
            The room you attempted to connect to is protected, please enter password below.
          </div>
        </div>
        <div id="danger-alert-div" class="row hidden-element">
            <div id="danger-alrt" class="alert alert-danger offset-lg-4 col-lg-4 text-center">
              Incorrect password. Please try again.
            </div>
          </div>
        <div id="password-row" class="hidden-element row offset-lg-4 col-lg-9">
          <div class="col-lg-5 text-center input-group">
              <input type="password" class="form-control" name="password" id="password-input" placeholder="Password">
              <span class="input-group-btn">
                <button id="enter-password-btn" class="btn btn-default" type="button">Enter</button>
              </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
              <button id="refresh-button" type="button" class="btn btn-primary btn-lg">Refresh Lobby</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
              <a href="/makeLobby">
                <button type="button" class="btn btn-primary btn-lg">Create New Room</button>
              </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
              <a href="/">
                <button type="button" class="btn btn-primary btn-lg">Return</button>
              </a>
          </div>
        </div>
    </main>

    <footer>
      <!-- Scripts throw in here -->
      <% include ./partials/footer %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
      <script src="/javascripts/easyrtc.js"></script>
      <script src="/javascripts/lobby-list.js"></script>
    </footer>
  </body>
</html>
