<html>
  <head>
    <!-- Stylesheets in here -->
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/lobby.css">
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <script src="https://cdn.rawgit.com/donmccurdy/aframe-physics-system/v3.0.0/dist/aframe-physics-system.min.js"></script>
    <script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v4.0.1/dist/aframe-extras.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="/javascripts/easyrtc.js"></script>
    <script src="https://unpkg.com/networked-aframe@^0.5.1/dist/networked-aframe.min.js"></script>

    <script src="https://unpkg.com/aframe-randomizer-components@^3.0.1/dist/aframe-randomizer-components.min.js"></script>
    <script src="https://unpkg.com/aframe-particle-system-component@1.0.5/dist/aframe-particle-system-component.min.js"></script>
    <script src="/javascripts/follow-object.js"></script>
    <script src="/javascripts/exit.js"></script>
    <script src="https://unpkg.com/super-hands@2.1.0/dist/super-hands.min.js"></script>

    <script>
        var currentRoom = <%- '"' + roomName + '"'%>;
        easyrtc.getRoomList(
          function(rooms){
            if (rooms[roomName]["numberClients"] > 1) {
              alert("This room is full!");
              location.href = "/lobbyList";
            }
          },
          function(){}
        );
        function onConnect() {
            console.log("OnConnect");
            if (easyrtc.getRoomOccupantsAsArray(currentRoom).length > 2) {
              easyrtc.leaveRoom(currentRoom);
              alert("This room is full!");
              location.href="/lobbyList";
            } else {
              NAF.connection.subscribeToDataChannel("role", syncRole);
              NAF.connection.subscribeToDataChannel("ready", syncStart);
              NAF.connection.subscribeToDataChannel("finish", syncFinish);
            }
        }

        NAF.schemas.add({
          template: '#avatar-template',
          components: [
            'position',
            'rotation',
            {
              selector: '.head',
              component: 'material',
              property: 'color'
            }
          ]
        });
      </script>
  </head>
  <body>
      <a-scene hidden id="game" networked-scene=<%- '"app:maze_escape; room:' + roomName + '; adapter:easyrtc; audio:true;"'%>>
      <a-assets>

        <img id="grid" src="https://img.gs/bbdkhfbzkk/stretch/https://i.imgur.com/25P1geh.png" crossorigin="anonymous">

        <a-asset-item id="maze" src="/models/maze.gltf"></a-asset-item>
        <a-asset-item id="maze-nav-mesh" src="/models/maze_nav-mesh.gltf"></a-asset-item>
        <a-asset-item id="maze-map" src="/models/maze_map.gltf"></a-asset-item>
        <a-asset-item id="flashlightModel" src="/models/flashlight.gltf"></a-asset-item>

        <!-- Templates -->

        <!-- Avatar -->
        <script id="avatar-template" type="text/html">
          <a-entity class="avatar" networked-audio-source="positional:false">
            <a-sphere class="head"
              color="#5985ff"
              scale="0.45 0.5 0.4"
              random-color
            ></a-sphere>
            <a-entity class="face"
              position="0 0.05 0"
            >
              <a-sphere class="eye"
                color="#efefef"
                position="0.16 0.1 -0.35"
                scale="0.12 0.12 0.12"
              >
                <a-sphere class="pupil"
                  color="#000"
                  position="0 0 -1"
                  scale="0.2 0.2 0.2"
                ></a-sphere>
              </a-sphere>
              <a-sphere class="eye"
                color="#efefef"
                position="-0.16 0.1 -0.35"
                scale="0.12 0.12 0.12"
              >
                <a-sphere class="pupil"
                  color="#000"
                  position="0 0 -1"
                  scale="0.2 0.2 0.2"
                ></a-sphere>
              </a-sphere>
            </a-entity>
          </a-entity>
        </script>

        <!-- /Templates -->
      </a-assets>

      <a-entity id="mazeObject" gltf-model="#maze" position="0 0.1 0"></a-entity>
      <a-entity visible="false" id="mazeMap" gltf-model="#maze-map" position="0 -2.5 0"></a-entity>
      <!-- Nav Mesh -->
      <a-entity id="mazeNavMesh" visible="false" gltf-model="#maze-nav-mesh" nav-mesh></a-entity>

      <a-entity id="rig" progressive-controls movement-controls="constrainToNavMesh: true" position="22 0.19 -19.5">
          <a-entity id="playerCamera" camera look-controls rotation="0.97 -94 -3.5"></a-entity>
          <a-entity id="rightHand"  class="right-controller"></a-entity>
          <a-entity id="leftHand" class="left-controller"></a-entity>
      </a-entity>

      <a-entity id="player" networked="template:#avatar-template;showLocalTemplate:false;" follow-object="objectID: playerCamera"></a-entity>

      <a-entity static-body 
        geometry="primitive: plane; width: 10000; height: 10000;" visible="false" rotation="-90 0 0"></a-entity>

      <a-entity id="flashlight" grabbable gltf-model="#flashlightModel" position = "24 0.5 -19.5" scale="0.2 0.2 0.2" dynamic-body="shape:box; mass: 2">
          <a-entity light="type: spot;angle: 20; intensity:0.5" position = "0.1 0 0" rotation = "0 -90 0"></a-entity>
      </a-entity>

      <a-entity light="color: #ffffff; intensity: 0.01; type: ambient;" visible=""></a-entity>
      <a-entity id = "sceneLight" light="color: #ffffff; intensity: 0.02" position="5 5 5"></a-entity>
      <a-entity id="exit" visible="false" geometry="primitive: box; width: 1.5; height: 2; depth: 2;" position="1.5 1 0"  exit></a-entity>
      <a-entity light="type:point; intensity:1; distance:1; decay:1;" position="1.5 1 0"></a-entity>

      <a-sky color="#000000"></a-sky>
    </a-scene>

    <main id="main-div" class="container">
      <div class="row title-text">
        <div class="col-lg-12 text-center align-text-bottom">
          <h1>MAZE ESCAPE</h1>
          <h3 id="lobby-status">Waiting for Players</h3>
        </div>
      </div>
      <div id="warning-alert-div" class="row hide-element">
        <div id="warning-alert" class="alert alert-warning offset-lg-4 col-lg-4 text-center">
          You are still waiting on 1 player(s), before you can start the lobby.
        </div>
      </div>
      <div id="starting-alert-div" class="row hide-element">
          <div id="warning-alert" class="alert alert-success offset-lg-4 col-lg-4 text-center">
            Game starting in <span id="countdown-span">5</span>...
          </div>
        </div>
      <div class="row offset-lg-3 col-lg-6 lobby-text">
        <div class="col-lg-6 text-right">
          <p>Lobby Name:</p>
        </div>
        <div class="col-lg-6 text-left">
          <p><%-roomName%></p>
        </div>
      </div>
      <div class="row offset-lg-3 col-lg-6 lobby-text">
        <div class="col-lg-6 text-right">
          <p>Map Name:</p>
        </div>
        <div class="col-lg-6 text-left">
          <p>Maze 1</p>
        </div>
      </div>
      <div class="row offset-lg-3 col-lg-6 lobby-text">
        <div class="col-lg-6 text-right">
          <p>Players in Lobby:</p>
        </div>
        <div class="col-lg-6 text-left">
          <p><span id="lobby-count">1</span>/2</p>
        </div>
      </div>
      <br>
      <div class="row offset-lg-3 col-lg-6">
        <div class="text-center col-lg-12 lobby-text">
          <p>Currently Selected Role: <span id="selected-role">None</span></p>
          <medium class="form-text text-muted">Click to Select Role From Buttons Below</medium>
        </div>
        <div class="col-lg-12 text-center class-buttons-container">
          <button id="btn-lib" class="btn btn-lg">Librarian<br><span id="lib-btn-span">0/1</span></button>
          <button id="btn-run" class="btn btn-lg">Runner<br><span id="run-btn-span">0/1</span></button>
        </div>
      </div>
      <br><br>
      <div class="row offset-lg-3 col-lg-6">
          <div class="col-lg-12 text-center">
            <button disabled id="start-button" class="btn btn-lg btn-success">Lock In</button>
            <a href="/lobbylist">
              <button class="btn btn-lg btn-danger">Leave</button>
            </a>
          </div>
        </div>
    </main>

    <div id="finish-screen" class="hide-element">
      <div class="row title-text">
        <div class="col-lg-12 text-center align-text-bottom">
          <h1>MAZE ESCAPE</h1>
          <h3 id="lobby-status">Congratulations you Escaped!</h3>
        </div>
      </div>
      <div class="row offset-lg-3 col-lg-6 lobby-text">
        <div class="col-lg-6 text-right">
          <p>You escaped in </p>
        </div>
        <div class="col-lg-6 text-left">
          <p><span id="time-span"></span> minutes!</p>
        </div>
        <div class="row offset-lg-3 col-lg-6">
          <div class="col-lg-12 text-center">
            <a href="/lobbylist">
              <button class="btn btn-lg btn-danger">Leave</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <!-- Scripts throw in here -->
      <% include ./partials/footer %>
      <script src="/javascripts/lobby.js"></script>
    </footer>
  </body>
</html>
