<html>
  <head>
    <!-- Stylesheets in here -->
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/lobbyList.css">
  </head>
  <body>    
    <main class="container">
        <div class="row title-text">
            <div class="col-lg-12 text-center align-text-bottom">
              <h1>MAZE ESCAPE</h1>
              <h3>Lobby List</h3>
            </div>
        </div>
        <div class="row col-lg-10 offset-lg-1">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th class="align-middle">Room Name</th>
                <th class="align-middle">Number of Players</th>
                <th></th>
              </tr>
            </thead>
            <tbody id ="roomTable">
              <tr id="update-on-refresh-row">
                <td>Gotta love escaping mazes!</td>
                <td>maze_1</td>
                <td>
                  <button type="button" class="btn btn-danger btn-small" disabled>Librarian (1/1)</button>
                  <button id="update-on-refresh-button" type="button" class="btn btn-success btn-small">Escaper (0/1)</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="successful-alert" class="row hidden-element">
          <div class="alert alert-success offset-lg-4 col-lg-4 text-center">
              Successfully updated the lobby list!
          </div>
        </div>
        <div id="unsuccessful-alert" class="row hidden-element">
          <div class="alert alert-danger offset-lg-4 col-lg-4 text-center">
            Sorry, something went wrong while updating the list. Try again in a few seconds :)
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
              <button id="refresh-button" type="button" class="btn btn-primary btn-lg">Refresh List</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
              <a href="/makeLobby">
                <button type="button" class="btn btn-primary btn-lg">Make New Lobby</button>
              </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
              <a href="/">
                <button type="button" class="btn btn-primary btn-lg">Return</button>
              </a>
          </div>
        </div>
    </main>

    <footer>
      <!-- Scripts throw in here -->
      <% include ./partials/footer %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
      <script src="/javascripts/easyrtc.js"></script>
      <script src="/javascripts/lobby-list.js"></script>
    </footer>
  </body>
</html>
