<html>
  <head>
    <!-- Stylesheets in here -->
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/help.css">
  </head>
  <body>    
    <main class="container">
        <div class="row title-text">
            <div class="col-lg-12 text-center align-text-bottom">
              <h1>MAZE ESCAPE</h1>
              <h3>Help Menu</h3>
            </div>
        </div>
        <div class="row">
          <div class="offset-lg-3 col-lg-6 text-center help-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum mi. Vivamus justo enim, pharetra quis felis a, accumsan fringilla diam. Integer quis imperdiet nulla. Quisque nec aliquam nibh, in finibus nulla. Suspendisse interdum sollicitudin augue, in pretium metus aliquet nec. Duis sed arcu eros. Quisque eu lectus rutrum, consectetur lorem vel, porttitor turpis. Proin eget vehicula est. Ut tincidunt dictum nisl vitae aliquet. Ut turpis lacus, fermentum et nisi a, auctor hendrerit tortor. Nunc rhoncus euismod lectus quis sagittis. Fusce varius porttitor diam ac viverra. Donec diam tortor, auctor sodales egestas et, maximus quis libero.</p>
            <p>Integer luctus, magna at placerat convallis, nibh elit tempus tellus, ornare scelerisque leo massa non libero. Proin quis iaculis quam. Praesent tincidunt dui ut nisl imperdiet pellentesque. Suspendisse rutrum malesuada pretium. In pulvinar dapibus sapien, vel aliquet purus ultrices nec. Duis luctus orci et tortor sollicitudin, quis pretium risus rhoncus. Proin congue rhoncus nunc quis aliquet. Nullam vitae tellus vel dui euismod commodo. Praesent in maximus nisl. Nulla bibendum, tellus ac porttitor ultrices, enim lorem fringilla est, eget ornare felis elit non neque. Vivamus lobortis convallis massa, vel laoreet lectus iaculis eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce bibendum, eros eu accumsan fermentum, lacus purus ullamcorper nibh, ac condimentum ante sem a lorem.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-offset-6 col-lg-12 text-center">
              <a href="/">
                <button type="button" class="btn btn-primary btn-lg">Return</button>
              </a>
          </div>
        </div>
    </main>

    <footer>
      <!-- Scripts throw in here -->
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
