<html>
  <head>
    <!-- Stylesheets in here -->
    <% include ./partials/head %>
  </head>
  <body class="container">
    <h1>Hi</h1>
    
    <main class="content">
      
    </main>

    <footer>
      <!-- Scripts throw in here -->
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
