<html>
  <head>
    <!-- Stylesheets in here -->
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/landing.css">
  </head>
  <body>    
    <main class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <h1 class="mt-5">MAZE ESCAPE</h1>
            </div>
        </div>
        <br><br><br><br>
        <div class="row">
          <div class="col-lg-6">
              <a href="/lobbyList">
                <button type="button" class="btn btn-success btn-lg btn-block">Play!</button>
              </a>
          </div>
          <div class="col-lg-6">
              <a href="/help">
                <button type="button" class="btn btn-primary btn-lg btn-block">Help</button>
              </a>
          </div>
        </div>

    </main>

    <footer>
      <!-- Scripts throw in here -->
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
